@media (max-width: 700px) {
    .player,
    .playlist {
      width: 300px;
    }
  
    .player {
      height: 340px;
    }
  
    #playlist-songs {
      height: 280px;
      padding: 5px 6px;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-color: var(--background-color) var(--secondary-color);
      scrollbar-width: thin;
    }
  
    #playlist-songs::-webkit-scrollbar {
      width: 5px;
    }
  
    #playlist-songs::-webkit-scrollbar-track {
      background: var(--background-color);
    }
  
    #playlist-songs::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
    }
  
    h1 {
      font-size: 0.813rem;
    }
  
    h2 {
      font-size: 0.75rem;
    }
  
    .player-bar,
    .playlist-bar,
    .player-content,
    #playlist-songs {
      width: 280px;
    }
  
    .playlist-song {
      justify-content: space-between;
    }
  
    .playlist-song-title {
      width: 140px;
    }
  
    .playlist-song-artist {
      width: 40px;
    }
  
    .playlist-song-duration > button {
      padding: 0;
    }
  
    .player-content {
      display: inline;
      position: relative;
      justify-items: center;
      height: 100%;
    }
  
    #player-album-art {
      z-index: -100;
      height: 280px;
      box-shadow: none;
      background: #000;
    }
  
    #player-album-art img {
      width: 100%;
      opacity: 0.6;
    }
  
    .player-display-song-artist {
      padding: 0 10px;
    }
  
    .player-display-song-artist > p {
      white-space: pre-wrap;
    }
  
    .player-display {
      position: absolute;
      width: 100%;
      z-index: 1000;
      background-color: transparent;
      top: 0;
      height: 280px;
      justify-content: space-between;
      text-align: center;
    }
  }